<div class="container">
<!--
  <a class="button" href="/players/new">プレイヤーアカウントの作成</a>
  <a class="button" href="/players">プレイヤーリスト</a>
-->

  <%= link("Create Player Account", to: "/players/new", class: "button") %>
  <%= link("List All Players", to: "/players", class: "button") %>

<!--
  <%= IO.inspect("Hello World!")%>
-->
</div>